.item-details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--item-details-background);
  flex-grow: 1;
  position: relative;
}

.detail-fields {
  width: 80%;
}

.detail {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  background: var(--background);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

.field {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

.field label {
  font-size: .9rem;
  filter: opacity(60%);
}

.field input {
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--font-size);
}

.detail-actions button {
  background: transparent;
}

.item-actions {
  display: flex;
  width: 100%;
  background: var(--background);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.side {
  padding: .5rem;
  flex-grow: 1;
}

.side button {
  padding: .5rem;
  background: transparent;
  backdrop-filter: brightness(90%);
  border: 1px solid #000;
  outline: none;
  height: 30px;
  width: 70px;
}
.side button:hover {
  backdrop-filter: brightness(120%);
}

#right-side {
  display: flex;
  justify-content: end;
}
