.item-actions {
  display: flex;
  width: 100%;
  background: var(--background);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.side {
  padding: 0.5rem;
  display: flex;
  flex-grow: 1;
  gap: 5px;
}

.side button {
  padding: 0.5rem;
  background: transparent;
  backdrop-filter: brightness(90%);
  border: 1px solid #000;
  outline: none;
  height: 30px;
  width: 70px;
  font-size: 0.8rem;
}
.side button:hover,
.side button:focus-visible {
  backdrop-filter: brightness(120%);
}

.side#right {
  display: flex;
  justify-content: end;
}
