.tab {
  --active-color: var(--accent-color);
  display: flex;
  width: 100%;
}

.tab-left-side {
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.tab-left-side span {
  width: 12vw;
  text-align: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.tab-left-side:hover span,
.tab-left-side:hover svg {
  color: var(--active-color);
  fill: var(--active-color);
}

.tab:focus-visible {
  outline: 2px solid #515194;
}

.tab.active span,
.tab.active svg {
  font-weight: bold;
  color: var(--active-color);
  fill: var(--active-color);
}

.edit-folder-btn {
  display: flex;
  justify-content: end;
  filter: opacity(60%);
}

.edit-folder-btn:hover {
  filter: opacity(100%);
}
