.search-bar {
  margin: auto;
  padding: var(--spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
  border-radius: var(--border-radius);
  width: 40%;
  backdrop-filter: brightness(150%);
  cursor: text;
}

.search-bar:hover,
.search-bar:focus-within {
  backdrop-filter: brightness(170%);
}

#search-field {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}
