header {
  --font-size: 1.1rem;
  --border-radius: 1rem;
  --spacing: 0.6rem;
  --padding-x: 1rem;
  padding: var(--spacing) var(--padding-x);
  display: flex;
  align-items: center;
  background: var(--background);
  border-bottom: 1px solid black;
  font-size: var(--font-size);
  height: 100%;
  position: relative;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing);
}
