.item {
  display: flex;
  padding: .5rem;
  padding-left: 1rem;
  gap: .5rem;
  cursor: pointer;
}
.item:hover {
  backdrop-filter: brightness(140%);
}

.item-info .service-name {
  font-weight: bold;
}

.item-info .login {
  filter: brightness(70%);
  font-size: .8rem;
}