*,
*::before,
*::after {
  --background: #302f4e;
  --accent-color: #6393ee;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Arial", sans-serif;
}

html,
body,
#root {
  height: 100vh;
  background: var(--background);
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
}

ul {
  list-style: none;
}

button,
input[type="button"] {
  width: max-content;
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--font-size);
  cursor: pointer;
}
