*,
*::before,
*::after {
  --background: #302f4e;
  --accent-color: #6f9df1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Arial", sans-serif;
}

html,
body {
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

ul {
  list-style: none;
}

button,
input[type="button"] {
  width: max-content;
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--font-size);
  cursor: pointer;
}
