.modal {
  --modal-border: 1.5px solid black;
  border-radius: 0.4rem;
  background: var(--background);
  filter: brightness(110%);
  border: var(--modal-border);
}
.modal.active {
  animation: 0.2s ease-out 0s 1 slideIn;
}

.modal-body {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  border-bottom: var(--modal-border);
}

.modal-body .heading {
  opacity: 80%;
}

.modal-field {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 250px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}
.modal-field:hover,
.modal-field:focus-within {
  backdrop-filter: brightness(120%);
}

.modal-actions {
  padding: var(--padding);
  display: flex;
  gap: 0.5rem;
}

@keyframes slideIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
