.modal {
  --modal-border: 1px solid black;
  border-radius: 0.4rem;
  background: var(--background);
  filter: brightness(110%);
  border: var(--modal-border);
  z-index: 1000;
  width: 25vw;
}
.modal.active {
  animation: 0.2s ease-out 0s 1 slideIn;
}

.modal-body {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  border-bottom: var(--modal-border);
}

.modal-body .heading {
  opacity: 80%;
}

.modal-field {
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}
.modal-field:hover,
.modal-field:focus-within {
  backdrop-filter: brightness(120%);
}

.modal-actions {
  padding: var(--padding);
  display: flex;
  gap: 0.5rem;
}

.modal-actions #delete-btn {
  margin-left: auto;
}

.modal-field label {
  filter: brightness(80%);
}
.modal-actions button {
  border: 1px solid black;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  backdrop-filter: brightness(90%);
}
.modal-actions button:hover,
.modal-actions button:focus-visible {
  backdrop-filter: brightness(120%);
}

#delete-btn {
  margin-left: auto;
}

@keyframes slideIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
