.sidebar {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  background: var(--background);
  width: 20%;
  border-right: 1px solid black;
}

.sidebar .dropdown-btn {
  font-size: 1.1rem;
  filter: opacity(60%);
}
