.sidebar {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  background: var(--background);
  width: 20%;
  border-right: 1px solid black;
}

.dropdown-btn {
  margin-right: auto;
  font-size: 1.1rem;
  filter: opacity(70%);
  text-align: start;
}
.dropdown-btn:hover {
  filter: opacity(100%);
}
