.detail {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--background);
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.detail:hover {
  background: #3d3c64;
}

.detail-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.detail-field label {
  font-size: 0.9rem;
  filter: opacity(60%);
}

.detail-field input {
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--font-size);
}

.detail-field select {
  border: none;
  outline: none;
  background: transparent;
  font-size: var(--font-size);
  cursor: pointer;
}

.detail-field select option {
  color: black;
}

.detail-actions {
  display: flex;
  align-items: center;
}
.detail-actions button {
  background: transparent;
}
